/* css reset */
*,
html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/* separate flex declarations */
body>#container,
#logo {
    display: flex;
}

body>#container {
    height: 100vh;
}

/* background style */
.background {
    background-image: url(./.resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background * {
    color: white;
}

/* brand logo style */
#logo {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    min-width: 35vw;
    width: 100%;
}

#logo * {
    font-family: Norse-Bold;
    width: auto;
    font-size: 5em;
    justify-self: center;
    align-self: center;
}

#logo img {
    height: 1.5em;
}


/* new font for logo */
@font-face {
    font-family: Norse-Bold;
    src: url(./.resources/Norse-Bold.otf);
}